
.print 'Spending from bank account by month'
select strftime('%Y-%m', date),SUM(amount)
    from nw_tx
    where description not like '%${employer_tx_substring}%'
    GROUP BY date(date, 'start of month')
    ORDER BY date(date, 'start of month') DESC;

.print 'Total income each month'
select strftime('%Y-%m', date),SUM(amount)
    from nw_tx
    where amount > 0
    and description like '%${employer_tx_substring}%'
    GROUP BY date(date, 'start of month')
    ORDER BY date(date, 'start of month') DESC;

.print 'Expenses paid each month'
select strftime('%Y-%m', date),SUM(amount)
    from nw_tx
    where amount > 0
    and description like '%${employer_expenses_tx_substring}%'
    GROUP BY date(date, 'start of month')
    ORDER BY date(date, 'start of month') DESC;
